@page "/"
@inject IBirthdayService BirthdayService
<PageTitle>Reeling in the days</PageTitle>
<h1>Reeling in the days</h1>
<div>
    @if (Dates != null)
    {
        <p>Loading Info...</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        Age
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var birthday in Dates)
                {
                    <tr>
                        <td>
                            @birthday.Name
                        </td>
                        <td>
                            @birthday.Birthday
                        </td>
                        <td>
                            @birthday.Age
                        </td>
                    </tr>
                }
                {
                    <tr>
                        <td>
                            Dates.Name
                        </td>
                        <td>
                            Dates.Birthday
                        </td>
                        <td>
                            Dates.Age
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
    
</div>


@code {
    public List<Date> Dates { get; set; }
    public string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dates = await BirthdayService.GetBirthdays();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}
